version: '3.8'
services:
  postgres:
    image: postgres:16-alpine
    container_name: peerlink-postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: deep2345
      POSTGRES_DB: filesharerdb
      TZ: Asia/Kolkata
      PGTZ: Asia/Kolkata
    volumes:
      - postgres_data:/var/lib/postgresql/data

  localstack:
    image: localstack/localstack:latest
    container_name: peerlink-localstack
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3
      - DEBUG=1
      - DATA_DIR=/tmp/localstack/data
    volumes:
      - localstack_data:/tmp/localstack

volumes:
  postgres_data:
  localstack_data: